<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Document</title>
    <link th:href="@{'/css/output.css'}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
     integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
     crossorigin="anonymous" 
     referrerpolicy="no-referrer" />
</head>
<body>
    <div th:replace="~{fragments/navbar::navbar}"></div>

    <div class="cont">
        <section th:replace="${content}"></section>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>